body{
  margin: 0;
  padding: 0;
  background: rgb(48,48,48);
}
h1{
  margin: 0;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  background: rgb(48,48,48);
}

.navbar{
  position: absolute;

  height: 100vh;
  width: 250px;

  color: white;
  border-right: solid 1px black;
  background: #343a40;
}

.todo-section{
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 100%;

  background: rgb(48,48,48);
}

.add-button{
  list-style-type: none;

  width: 300px;
  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: solid 5px black;
  border-radius: 15px;
}
.add-button:hover{
  cursor: pointer;
}

.add-icon{
  height: 50px;
  width: 50px;
}

.todo-grid{
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(1, 1fr);
}

.todo{
  white-space: initial;

  width: 300px;
  min-height: 100px;

  padding: 10px;

  border: solid 3px #6c757d;
  border-radius: 15px;
  
}

.todo-description{
  font-weight: 600;
  font-size: 20px;
  word-wrap: break-word;
  color: #6c757d;
}
