body{
  margin: 0;
  padding: 0;
}
h1{
  margin: 0;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar{
  position: absolute;

  height: 100vh;
  width: 100px;

  background: orange;
}

.todo-section{
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 100%;

  background: white;
}

.add-button{
  list-style-type: none;

  width: 300px;
  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: solid 5px black;
  border-radius: 15px;
}
.add-button:hover{
  cursor: pointer;
}

.add-icon{
  height: 50px;
  width: 50px;
}

.todo-grid{
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, 1fr);
}

.todo{
  width: 300px;
  height: 300px;

  border: solid 5px black;
  border-radius: 15px;
  
  background: green;
}